workflows/n8n-lead-capture.json
{
  "name": "Lead Capture - PocketBase",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-capture",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "lead-capture-webhook"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "name",
              "value": "={{ $json.name || 'Sin nombre' }}"
            },
            {
              "name": "email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "phone",
              "value": "={{ $json.phone || '' }}"
            },
            {
              "name": "source",
              "value": "={{ $json.source || 'website' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "validate-data",
      "name": "Validar Datos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.POCKETBASE_URL }}/api/collections/leads/records",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $json.name }}\",\n  \"email\": \"{{ $json.email }}\",\n  \"phone\": \"{{ $json.phone }}\",\n  \"source\": \"{{ $json.source }}\",\n  \"status\": \"new\"\n}",
        "options": {}
      },
      "id": "create-lead",
      "name": "Crear en PocketBase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [650, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "pocketbase-admin",
          "name": "PocketBase Admin Token"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=🆕 Nuevo Lead!\n\nNombre: {{ $json.name }}\nEmail: {{ $json.email }}\nTeléfono: {{ $json.phone }}\nFuente: {{ $json.source }}\n\nAcción: Contactar en <4 horas",
        "additionalFields": {}
      },
      "id": "notify-telegram",
      "name": "Notificar Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [850, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "Claudio Bot"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Datos": {
      "main": [
        [
          {
            "node": "Crear en PocketBase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear en PocketBase": {
      "main": [
        [
          {
            "node": "Notificar Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "revenue-ops",
      "createdAt": "2026-02-21T14:00:00.000Z"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-02-21T14:00:00.000Z",
  "versionId": "1"
}
